{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container bg-white h-100">
  <div class="row d-flex bg-white h-100 justify-content-center flex-wrap align-items-center ">

    <div class="col-12  col-sm-12 col-md-12 col-lg-6 text-center">
      <img class="img-fluid d-block w-100 my-5 my-sm-5 my-lg-0" src="https://i.imgur.com/uNGdWHi.png">
    </div>

    <div class="col-12  col-sm-12 col-md-12 col-lg-6 px-5  bg-white">
      <h5 class="text-center">{% trans "Iniciar sesión con" %}</h5>
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
      <div class="row text-center ">
        <div class="col-12 my-3">
          {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </div>
      </div>
      <div class="divider">
        <div class="line">
          <span class="line-text">O</span>
        </div>
      </div>
      {% include "socialaccount/snippets/login_extra.html" %}
      {% else %}
      <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}

      <form class="login mb-5 mb-sm-5 mb-lg-0" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="primaryAction btn-entrar mx-auto" type="submit">{% trans "Sign In" %}</button>
        <div class="text-center mt-3">
          ¿No tienes una cuenta?
          <a href="{% url 'account_signup' %}">Registrate aquí</a>
        </div>
        <div class="text-center mt-2">
          <a class="button text-center  secondaryAction"
            href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </div>
      </form>

    </div>

  </div>
</div>

{% endblock %}
