{% extends 'layouts/first.html'%}

{% block content %}
{% load account %}

{% if user.is_authenticated %}
<div class="container bg-white py-5 h-100 d-flex flex-column justify-content-center align-items-center">
{{title}}
    <div class="row">
        <div class="col-12 text-center text-dark ">
            <h2 class="pt-5">Bienvenido
                {% if user.socialaccount_set.all.0.extra_data.name %}
                {{ user.socialaccount_set.all.0.extra_data.name  }}
                {% else %}
                {% user_display user %}
                {% endif %}
            </h2>
            <img style="border-radius: 100%;" class="my-3" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
            <img style="border-radius: 100%;" class="my-3" src="{{ user.get_avatar_url }}" />
        </div>
        <div class="col-12">
            <div class="alert alert-success text-center">
                <strong>¡Felicidades!</strong>
                has iniciado sesión correctamente en el sitio de Practica Django realizado en las practicas univeristarias
                2021-2 en la empresa A&A Soluciones TIC
            </div>
        </div>
    </div>

    <div class="row w-100">
        <div class="col d-flex flex-wrap justify-content-center">
            <a class="btn col-12  col-sm-12 mb-3 mb-sm-3 mb-lg-0 mx-md-3 col-lg-auto btn-primary" href="{% url 'account_email' %}">Cambiar correo electrónico</a>
            <a class="btn col-12  col-sm-12 mb-3 mb-sm-3 mb-lg-0 mx-md-3 col-lg-auto btn-warning" href="{% url 'socialaccount_connections' %}">Vincular cuenta con redes sociales</a>
            <a class="btn col-12  col-sm-12 mb-3 mb-sm-3 mb-lg-0 mx-md-3 col-lg-auto btn-secondary" href="{% url 'account_logout' %}">Cerrar sesión</a>
        </div>
    </div>
{% else %}
    <div class="container bg-white text-center h-100 py-5">
        <div class="row h-100 align-items-center">
            <div class="col">
                <p>Parece que no has iniciado sesión campeon, por favor inicia sesión o registrate.</p>
                <a class="btn btn-primary"href="{% url 'account_login' %}">Iniciar Sesión</a>
                <a class="btn btn-primary"href="{% url 'account_signup' %}">Registrarse</a>            
            </div>
        </div>
    </div>
{% endif %}

</div>


{% endblock %}