{% extends 'layouts/first.html'%}

{% block content %}

<div class="container bg-dark h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 bg-white shadow">
        <!-- Imagen login -->
        <div class="col-12 p-5 col-sm-12 col-md-6 text-center">
            <img class="img-fluid bg-white align-self-center" src="https://i.imgur.com/uNGdWHi.png">
        </div>
        <!-- Iniciar sesión -->
        <div class="col-12 px-5 col-sm-12 col-md-6 bg-white">
            <!-- Redes sociales -->
            <div class="row text-center ">
                <h5 class="mt-3 mt-sm-4 mt-md-0">Iniciar sesión con</h5>
                <div class="col-12 my-3">
                    <a href="#" class="social-networks facebook text-white"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-networks google text-white"><i class="fab fa-google"></i></a>
                </div>
            </div>

            <div class="divider">
                <div class="line">
                    <span class="line-text">O</span>
                </div>
            </div>

            <!-- Inicio de sesión por la app -->
            <form class="mt-3">
                <div class="form-group my-3">
                  <label for="inputemail" class="mb-2 font-weight-bold">Correo Electrónico</label>
                  <input type="email" class="form-control" id="inputemail" aria-describedby="emailHelp" placeholder="Ingresa el correo electrónico">
                </div>
                <div class="form-group my-3">
                  <label for="inputpassword" class="mb-2 font-weight-bold">Contraseña</label>
                  <input type="password" class="form-control" id="inputpassword" placeholder="Ingresa la contraseña">
                </div>
                <button type="submit" class="btn-entrar mx-auto">Entrar</button>
                <div class="text-center mt-3">¿No tienes una cuenta? <a href="#">Registrate aquí</a></div>
              </form>
        </div>

    </div>
</div>

{% endblock %}

<!-- <div class="row"> <img src="https://i.imgur.com/CXQmsmF.png" class="logo"> </div>
<div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="https://i.imgur.com/uNGdWHi.png" class="image"> </div> -->